{% extends "base.html" %}

{% block head %}
<title>Hobbies</title>
{% endblock %}


{% block content %}
<body>
<div class="Hobbies">
    <h1 class="boxtitle">Hobbies</h1>
    <div id="buttons">
        <a class="button" href="#hobby1-section"><img src="../static/hobbies/imghobbies1.png" alt="Hobbie 1"></a>
        <a class="button" href="#hobby2-section"><img src="../static/hobbies/imghobbies2.png" alt="Hobbie 2"></a>
        <a class="button" href="#hobby3-section"><img src="../static/hobbies/imghobbies3.png" alt="Hobbie 3"></a>
    </div>
    
    <div class="textbox" style="padding-top: 30%; padding-left: 0%;">
        <div id="hobby1-section" class="box">
            <h2>Video-Games</h2>
            <p>
                Desde criança, os jogos eletrônicos têm sido uma fonte de entretenimento e diversão para mim. Eles me transportam para mundos imaginários, desafiam minha habilidade e criam histórias cativantes que me envolvem emocionalmente.
            </p>
            <p>
                Os videogames me oferecem uma forma única de expressão e interação. Cada jogo é uma experiência única, com seus próprios enredos, mecânicas e universos. Eu admiro a arte por trás dos jogos, seja nos gráficos deslumbrantes, nas trilhas sonoras envolventes ou nas narrativas complexas. Eles representam uma verdadeira forma de arte interativa, capaz de envolver os jogadores em uma imersão completa.
            </p>  
            <p>
               Além disso, os videogames também são uma plataforma social. Compartilhar aventuras virtuais com amigos, seja jogando juntos em modo cooperativo ou competindo em partidas multiplayer, proporciona momentos de camaradagem e diversão. Os jogos não apenas me proporcionam momentos de relaxamento e entretenimento, mas também me conectam com outras pessoas que compartilham o mesmo amor por essa forma de entretenimento.
            </p>
            <p>
                No entanto, é importante encontrar um equilíbrio saudável entre os videogames e outras áreas da minha vida, como meus estudos e relacionamentos pessoais. Jogar com moderação e estabelecer prioridades é essencial para aproveitar ao máximo essa forma de entretenimento.
            </p>
            <p>
                No fim das contas, os videogames são mais do que apenas uma atividade de lazer para mim. Eles são uma fonte de inspiração, diversão e aprendizado. Eles me motivam a explorar novas ideias, aprimorar minhas habilidades e buscar constantemente novos desafios. Estou ansioso para continuar explorando esse mundo virtual e, quem sabe, até mesmo contribuir para a criação de jogos que possam cativar e inspirar outros jogadores como eu.
            </p>
        </div>
        <br>
        <br>
        <div id="hobby2-section" class="box">
            <h2>Programação</h2>
            <p>  
                Foi apenas recentemente, quando eu tinha 17 anos, que comecei a explorar o mundo da programação. Foi como se eu tivesse descoberto um novo universo, cheio de possibilidades e desafios empolgantes. A curiosidade sempre foi uma parte fundamental da minha personalidade, e a programação se tornou um canal perfeito para satisfazer minha sede de conhecimento.
            </p>
            <p>
                Tudo começou com alguns tutoriais online e cursos introdutórios de programação. Eu fui gradualmente me familiarizando com os conceitos básicos, como variáveis, estruturas de controle e funções. Cada linha de código que eu escrevia me trazia uma sensação de realização e me incentivava a explorar mais. Logo, o que começou como uma atividade curiosa rapidamente se tornou um verdadeiro hobby.
            </p>
            <p>
                O que mais me fascina na programação é a capacidade de criar algo do zero, transformar uma ideia em realidade. Cada linha de código é como uma peça de quebra-cabeça que se encaixa para formar algo funcional e útil. A lógica por trás da programação me desafia a pensar de maneira estruturada e a resolver problemas complexos de maneira criativa.
            </p>
            <p>
                Ainda sou um jovem aprendiz nesse vasto mundo da programação, mas estou ansioso para continuar minha jornada de aprendizado e crescimento. Sinto que encontrei um hobbie que não apenas me diverte, mas também me desafia intelectualmente e me permite criar algo com significado. Estou animado para descobrir as infinitas possibilidades que a programação tem a oferecer e ver onde essa paixão me levará no futuro.
            </p>
        </div>
        <br>
        <br>
        <div id="hobby3-section" class="box">
            <h2>Leitura</h2>
            <p>  
                A leitura sempre foi uma parte essencial da minha vida, e meu amor pelos mangas trouxe uma dimensão única a essa paixão. Entre as diversas obras que tive o prazer de mergulhar, dois livros que atualmente estão na minha lista de leitura são "O Hobbit" e "O Silmarillion", ambos escritos por J.R.R. Tolkien.
            </p>
            <p>
                Além dos romances, os mangas são uma forma de leitura que me fascina profundamente. Entre as minhas obras favoritas, destaco "Jujutsu Kaisen", um manga repleto de ação e suspense, que segue a história de Yuji Itadori em seu envolvimento com o mundo sombrio dos feitiços amaldiçoados. A criatividade do autor em criar personagens cativantes e cenas de luta intensas me mantém sempre ansioso pelo próximo capítulo. 
            </p>
            <p>
                Outro manga que ocupa um lugar especial no meu coração é "One Piece". A história de Monkey D. Luffy e sua tripulação em busca do tesouro lendário conhecido como One Piece é uma verdadeira saga de aventuras, amizade e superação. A narrativa rica e os personagens memoráveis me fazem rir, chorar e torcer em cada arco da história.
            </p>
            <p>
                "Mob Psycho" é mais uma obra que me encanta. Criado pelo talentoso ONE, o mesmo autor de "One Punch Man", este manga segue a vida de Shigeo Kageyama, um jovem com habilidades psíquicas poderosas, enquanto ele lida com desafios pessoais e enfrenta ameaças sobrenaturais. A combinação de comédia, ação e reflexões profundas sobre a vida e a identidade tornam a leitura verdadeiramente envolvente.
            </p>
            <p>
                "Mangas" como "Vagabond" e "Vinland Saga" também ocupam um lugar especial na minha estante. "Vagabond", baseado na história de vida do lendário espadachim Musashi Miyamoto, retrata não apenas duelos emocionantes, mas também a busca por significado e iluminação espiritual. Já "Vinland Saga" nos transporta para a Era Viking, explorando temas como honra, vingança e redenção de maneira profunda e emocionante.
            </p>
            <p>
                Essas obras literárias e mangas me transportam para mundos incríveis e me proporcionam momentos de escapismo, reflexão e entretenimento. Através da leitura, mergulho em aventuras extraordinárias, conecto-me com personagens fascinantes e aprendo lições valiosas sobre a vida e a condição humana. Estou animado para embarcar nas próximas leituras e descobrir novas histórias que ampliem meus horizontes e alimentem minha paixão pela leitura.
            </p>
        </div>

    </div>


</div>
</body>

{% endblock %}