body {
  background-color: #d4d4d4;
}

.menu {
    width: 15%;
    background-color: #4682B4;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
  }
  
.menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    list-style-type: none;
    margin: 10%;
    padding-top: 30%;
    padding: 0;
    
  }
  
.menu li {
    padding: 10px;
  }
  
.menu li a {
    text-decoration: none;
    font-size: 10px;
    color: #CCCCCC;
  }
  
.menu li a:hover {
    color: #CCCCCC;
  }

.menu div {
  padding-top: 500px;
  margin: 5%;

}

.menu div img {

  max-width: 100%;
  max-height: 100%;
}
  
.content {
    margin-left: 15%;
  }

.Home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.imgcentral img {
  width: 90%;
  border-radius: 10%;
}

.imgcentral h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
  font-weight: bold;
}


.descricao {
  display: flex;
  align-items: center;
  justify-content: center;
}

.descricao img {
  padding-left: 10%;
  width: 120%;
  height: 120%;
  border-radius: 50%;
  min-width: 0%;
}

.textbox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 10%;
}

.textbox h2 {
  font-size: x-large;
  text-decoration: underline;
  font-weight: bold;
  color: #CCCCCC;
}

.textbox h4 {
  font-size: medium;
  color: #CCCCCC

}

.textbox p {
  max-width: 60%;
  padding-left: 20%;
  font-size: medium;
}


.Hobbies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#buttons {
  display: flex;
  justify-content: space-around;
}

.button {
  max-width: 60%;
  max-height: 60%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #98FF98;
  margin: 5%;
}

.button img {
  max-width: 80%;
  max-height: 80%;
}

.box {
  max-width: 75%;
  background-color: #333333;
  border-radius: 10%;
  padding: 2%;

}
.box p {
  color: #CCCCCC;
}

.box h2 {
  color: #CCCCCC;
}

.boxtitle {
  font-size: 72px; 
  color: aliceblue;
  width: 100%;
  background-color: #333333;
  padding: 2%;
  text-align: center;
}

.Hist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.Hist ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Hist li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.Hist img {
  width: 25%;
  height: 25%;
  min-width: 0%;
  min-height: 0%;
  margin-right: 5%;
}

.Hist a {
  font-weight: bold;
}